@{
    ViewData["Title"] = "Home Page";
}
@model List<MainPageGame>

<div class="text-start" style="height:100%">
    <div style="padding-top: 40px; padding-bottom: 40px">
        <h1>Купить ключи игр Steam для ПК</h1>
    </div>
        <div class="fade show active">
                @for(int i = 0; i < (Model.Count / 4); i++)
                {
                    <div class="card-group" style=" margin-bottom: 50px;">

                        <div class="card">
                            <div class="text-center" style="height:70%">
                                <a href="/bebra">
                                    <img src="@Model[0 + i * 4].ImgSource" class="card-img-top rounded mycard" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="/bebra" class="text-decoration-none text-black">
                                    <h2 class="card-title"> @Model[0 + i * 4].Name</h2>
                                </a>
                                <h4 class="card-text">@Model[0 + i * 4].Price ₽</h4>
                            </div>
                        </div>

                        <div class="card">
                            <div class="text-center" style="height:70%">
                                <a href="/bebra">
                                    <img src="@Model[1 + i * 4].ImgSource" class="card-img-top rounded mycard" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="/bebra" class="text-decoration-none text-black">
                                    <h2 class="card-title"> @Model[1 + i * 4].Name</h2>
                                </a>
                                <h4 class="card-text">@Model[1 + i * 4].Price ₽</h4>
                            </div>
                        </div>

                        <div class="card">
                            <div class="text-center" style="height:70%">
                                <a href="/bebra">
                                    <img src="@Model[2 + i * 4].ImgSource" class="card-img-top rounded mycard" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="/bebra" class="text-decoration-none text-black">
                                    <h2 class="card-title"> @Model[2 + i * 4].Name</h2>
                                </a>
                                <h4 class="card-text">@Model[2 + i * 4].Price ₽</h4>
                            </div>
                        </div>

                        <div class="card">
                            <div class="text-center" style="height:70%">
                                <a href="/bebra">
                                    <img src="@Model[3 + i * 4].ImgSource" class="card-img-top rounded mycard" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="/bebra" class="text-decoration-none text-black">
                                    <h2 class="card-title"> @Model[3 + i * 4].Name</h2>
                                </a>
                                <h4 class="card-text">@Model[3 + i * 4].Price ₽</h4>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>

