@model List<Diplom.ViewModels.OrderViewModel>
@{
    ViewData["Title"] = "Basket";
}

<div class="justify-content-start bg-light" style="margin-left: 300px; margin-right:300px">
    <div style="margin-top: 50px">
        <h1>Корзина</h1>
    </div>
@foreach(var game in Model)
{
    <div class="card mb-7" style="max-width: 400px; margin-top:30px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@game.ImgSource" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@game.Name</h5>
                    <h4 class="card-text">@game.Price ₽</h4>
                    <p class="card-text"><small class="text-muted">Дата заказа:  @game.CreatedDate.Value.ToShortTimeString() @game.CreatedDate.Value.ToShortDateString()</small></p>
                    <button type="button" class="btn btn-outline-danger" >
                        <a class="px-2 text-black" style="text-decoration:none" asp-controller="Basket" asp-action="DeleteOrder" asp-route-id="@game.Id">Удалить</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<div class="justify-content-start" style="margin-top:40px">
        <h2>Итого: @Model.Sum(x => x.Price) ₽</h2>


</div>
    

</div>